@model Laba4.Models.Delivery

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Доставка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryService)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class="col-sm-10">
            @Html.ListBox("Orders", (MultiSelectList)ViewBag.Orders, new { @class = "form-control" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeliveryID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
