@model IEnumerable<Laba4.Models.DeliveryService>

@{
    ViewData["Title"] = "Index";
}

<h1>Список служб доставки</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<p>
    <a asp-action="Search">Поиск</a>
</p>
@if (Model == null)
{
    <p>
        Не найдено!
    </p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>   
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeliveryServiceID">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.DeliveryServiceID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.DeliveryServiceID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}